image: docker:latest

stages:
  - build
  - test

variables:
  DOCKER_DRIVER: overlay

services:
  - docker:dind

build app:
  stage: build
  script:
    - apk add --no-cache docker-compose
    - docker-compose version
    - docker login -u gitlab-ci-token -p $CI_BUILD_TOKEN registry.gitlab.com
    - docker-compose build --tag registry.gitlab.com/tododoapi-backup/tododo-pipeline:latest .
    - docker push registry.gitlab.com/tododoapi-backup/tododo-pipeline:latest

spring test:
  stage: test
  image: maven:3.5.2-jdk-8-alpine 
  script:
    - mvn test